main
{
    height: auto;
    padding: 1px;
    text-align: center;
    
    h3
    {
        text-align: center;
    }

    form
    {
        height: 320px;
        div
        {
            height: 250px;
            display: flex;
            flex-direction: column;
            width: 30%;
            margin: 0 auto;
            justify-content: space-between;
        }

        input
        {
            height: 25px;
            border: 2px solid black;
        }

        button
        {
            width: 200px;
            height: 30px;
            margin: 15px;
            border-radius: 15px;
            background-color: black;
            color: white;
            font-size: 16px;
            font-weight: 520;
           
        }

        label
        {
            text-align: left;
            font-weight: 550;
        }
    }
}

.delete
{
    height: 30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 40px auto;
    justify-content: space-between;

    button
    {
        width: 200px;
        height: 30px;
        margin: 0 auto;
        border-radius: 15px;
        background-color: black;
        color: white;
        font-size: 16px;
        font-weight: 520;
       
    }
    label
    {
        text-align: left;
        font-weight: 550;
    }

    input
        {
            height: 25px;
            border: 2px solid black;
        }

}

.patch
{
    height: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 40px auto;
    justify-content: space-between;

    button
    {
        width: 200px;
        height: 30px;
        margin: 0 auto;
        border-radius: 15px;
        background-color: black;
        color: white;
        font-size: 16px;
        font-weight: 520;
       
    }
    label
    {
        text-align: left;
        font-weight: 550;
    }

    input
        {
            height: 25px;
            border: 2px solid black;
        }

}